<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}" type="text/css" />
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/game.js')}}"></script>
  <title>AI Drew This</title>
</head>


<body>
  <div class="box">

    <header class="page-header">
      <nav>
        <h1>AI drew this</h1>
      </nav>
    </header>

    <main class="page-main">
      <img src="{{ url_for('game.image_fake')}}" class="game-image" />
    </main>

  </div>
</body>

</html>