* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.box, body {
  min-width: 100vw;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-flow: column;
}

.box .page-header {
  flex: 0 1 auto;
}

.box .page-main {
  flex: 1 1 auto;
}

header, main {
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.game-image {
  width: 128px;
  height: 128px;
}
