* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  --green: #37E21D;
  --blue: rgb(36, 104, 160);
  --red: #E21D37;
  --light-blue: rgb(119, 167, 207);
  font-family: 'Lato', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

.box, body {
  min-width: 100vw;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-flow: column;
}

.box .page-header {
  flex: 0 1 auto;
}

.box .page-main {
  flex: 1 1 auto;
}

main {
  padding: 1rem;
}

.page-header {
  padding: 1rem 1rem 1.5rem;
  background-color: var(--light-blue);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.github-logo {
  width: 3rem;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page-nav h1 {
  color: black;
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
}

.page-nav a {
  text-decoration: none;
}

.page-nav a {
  font-size: 2rem;
}

.page-nav h1,
.page-nav a {
  display: inline;
  line-height: 3rem;
  margin: 0 0.5rem;
}

.page-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.explanation {
  font-size: 1.2rem;
  background-color: var(--light-blue);
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.controls {
  width: 70vw;
  display: flex;
  justify-content: center;
}

.view, .score-box {
  width: 130px;
  height: 130px;
  margin-bottom: 1rem;
}

.score {
  margin-bottom: 1rem;
}

.view {
  border: 1px solid black;
}

.game-image {
  position: relative;
  left: 0;
  top: -24px;
  width: 128px;
  height: 128px;
  z-index: 100;
}

.game-image.hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button-container {
  padding: 30px 1rem;
}

.score, .answer-button, .next-button {
  font-size: 1.2rem;
  padding: 0.4rem;
  border-width: 0.3rem;
  border-style: solid;
  border-radius: 0.5rem;
}

.score, .answer-button {
  width: 6rem;
}

.next-button {
  width: 10rem;
}

.score {
  background-color: lightgray;
  border-color: lightgray;
  text-align: center;
}

.answer-button, .next-button {
  background-color: var(--blue);
  color: white;
  border-color: var(--blue);
  box-shadow: 0 0.1rem 0.5rem black;
}

.answer-button:hover, 
.answer-button.correct,
.answer-button.incorrect,
.answer-button.not-selected,
.next-button:hover,
.next-button.inactive {
  background-color: white;
  color: black;
}

.answer-button:hover,
.next-button:hover {
  cursor: pointer;
}

.answer-button.correct {
  border-color: var(--green);
  cursor: not-allowed;
}

.answer-button.incorrect {
  border-color: var(--red);
  cursor: not-allowed
}

.answer-button.not-selected,
.next-button.inactive {
  border-color: lightgray;
  cursor: not-allowed
}

.loading-gif {
  position: relative;
  width: 20px;
  height: 20px;
  left: 54px;
  top: 54px;
  z-index: 1;
}

.left-background,
.right-background {
  width: 400px;
  background-size: 400px;
}

@media screen and (max-width: 1600px) {
  .left-background,
  .right-background {
    width: 300px;
    background-size: 300px;
  }
}

@media screen and (max-width: 992px) {
  .left-background,
  .right-background {
    width: 160px;
    background-size: 160px;
  }
}

@media screen and (max-width: 600px) {
  .left-background,
  .right-background {
    width: 80px;
    background-size: 80px;
  }
}

@media screen and (max-width: 400px) {
  .left-background,
  .right-background {
    width: 50px;
    background-size: 50px;
  }
}

.left-background, 
.right-background {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.left-background {
  left: 0;
  background-image: url("/static/images/background1.png");
}

.right-background {
  right: 0;
  background-image: url("/static/images/background2.png");
}

.score-container {
  position: relative;
}

.message {
  position: relative;
  margin-top: 10px;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
}

.message.correct {
  color: var(--green);
  border-color: var(--green);
}

.message.incorrect {
  color: var(--red);
  border-color: var(--red);
}

.victory-message {
  font-size: 1rem;
  position: absolute;
  top: 0.7rem;
  left: 6.8rem;
  width: 5rem;
}

.victory-message.red {
  color: var(--red);
}

.victory-message.green {
  color: var(--green);
}